{
	"leetcode" : 	[
						{
							"contestIndex":1,
							"contest":"weekly389",
							"problem" : [
											{
												"problemIndex":1,
												"problem":"3083"
											},
											{
												"problemIndex":2,
												"problem":"3084"
											},
											{
												"problemIndex":3,
												"problem":"3085"
											},
											{
												"problemIndex":4,
												"problem":"3086"
											}
										]
						}，
						{
							"contestIndex":2,
							"contest":"bi_weekly126",
							"problem" : [
											{
												"problemIndex":5,
												"problem":"3079"
											},
											{
												"problemIndex":6,
												"problem":"3080"
											},
											{
												"problemIndex":7,
												"problem":"3081"
											},
											{
												"problemIndex":8,
												"problem":"3082"
											}
										]
						},
						{
							"contestIndex":3,
							"contest":"weekly388",
							"problem" : [
											{
												"problemIndex":9,
												"problem":"3074"
											},
											{
												"problemIndex":10,
												"problem":"3075"
											},
											{
												"problemIndex":11,
												"problem":"3076"
											},
											{
												"problemIndex":12,
												"problem":"3077"
											}
										]
						},
						{
							"contestIndex":4,
							"contest":"weekly387",
							"problem" : [
											{
												"problemIndex":13,
												"problem":"3069"
											},
											{
												"problemIndex":14,
												"problem":"3070"
											},
											{
												"problemIndex":15,
												"problem":"3071"
											},
											{
												"problemIndex":16,
												"problem":"3072"
											}
										]
						}
					],
	"codeForce": 	[
						
					]
}